node_modules/
lib/
esm/
es/
.env
.env.test
.env.e2e
.DS_Store
yarn-error.log
lerna-debug.log
/.vscode
/.idea
*.sqlite
coverage
.umi
/uploads
.env.test
docs-dist/
.npmrc
dist/
/docker/**/storage
/storage/.app-dev
/storage/.pm2
/storage/apps
/storage/ai
/storage/logs
/storage/db/*
!/storage/db/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/playwright
/tsconfig.paths.json
